[submodule "src/core"]
	path = src/core
	url = https://github.com/jackkrebsbach/wendy.cpp/
[submodule "external/xtensor-blas"]
	path = external/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
